<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="aee1bd05-b98c-47a1-a5d9-ad4710fc1b81"
            Publisher="CN=691BCA65-0225-4D09-BA12-DFA680F370B8"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="aee1bd05-b98c-47a1-a5d9-ad4710fc1b81" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Reborn-Zune-MusicLibraryServiceTest</DisplayName>
    <PublisherDisplayName>yinju</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Reborn_Zune_MusicLibraryServiceTest.App">
      <uap:VisualElements
        DisplayName="Reborn-Zune-MusicLibraryServiceTest"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Reborn-Zune-MusicLibraryServiceTest"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>